<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "../assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->
    <title>{{ page.github.owner_name | capitalize }}</title>
    {% include head-custom.html %}
  </head>
  <body>

    <video id="video-bg" class="video-bg" autoplay muted loop style="z-index: -1 !important;">
      <source src="/assets/img/bg-graph-white.mp4" type="video/mp4">
    </video>

    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.github.owner_name | capitalize }} Page</a></h1>

        {% if site.logo %}
        <img src="{{site.logo | relative_url}}" alt="Logo" class="img-logo" style="max-width: {{ site.logomaxwidth }};" />
        {% endif %}

        <p>{{ site.description | map: page.lang }}</p>

        <ul class="downloads">
          <li><a href="index">English<strong>en</strong></a></li>
          <li><a href="index_pt-BR">Português<strong>pt-BR</strong></a></li>
          <li><a href="index_fr">Fran&ccedil;ais<strong>fr</strong></a></li>
        </ul>

      </header>

      <section>
        {{ content }}
        <table>
          <th>E-mail</th>
          <th>Github</th>
          <tr>
            <td>dant.g@protonmail.com</td>
            <td><a href="{{ site.github.owner_url }}">{{ site.github.owner_name | capitalize }}</a></td>
          </tr>
        </table>
        {% include github-content.html %}
        <p><small>{{ site.credits_text | map: page.lang }}</small></p>
      </section>

    </div>
    <script src="{{ "../assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
